@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500, 600,800&display=swap');

.grid-container {
	transform: scale(0.50);
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(1, 800px) 15px; 
	grid-template-rows: 500px 90px 4px;
	box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12)
		;
}

.grid-container-resource {
	transform: scale(0.50);
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(1, 1600px) 150px; 
	grid-template-rows: 700px 400px 8px;
	box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12)
		;
}

.blurred-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


.slide-down {
	opacity: 0;
		animation: slide-down 1s 1s ease-in-out forwards;
}

@keyframes slide-down {
	to {
		opacity: 1;
		margin-top: 0px;
	}
}

 @keyframes text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes blurredBanner {
	0% {
/* 		opacity: 0; */
/* 		backdrop-filter: blur(0); */
	}
	60% {
		opacity: 1;
		filter: blur(10px);
	}
	100% {
		backdrop-filter: blur(10px);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes slide-down-search {
	to {
		top: 0px;
	}
}
